# config
config/*.bak
config/sodium-fingerprint.json
config/sodium-options.json
config/packetfixer.properties
config/everycomp-hazardous.properties
config/indium-renderer.properties
config/lighty.config
config/fabric/indigo-renderer.properties
config/ironchests/defaults.properties
config/roughlyenoughitems/pinyin.properties
config/roughlyenoughitems/pinyin_double.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/roughlyenoughitems/favorites.json5

# root files
heracles_options.json
icon.png
irisUpdateInfo.json
knownkeys.txt
options.txt
patchouli_data.json
polymer-resourcepack.zip
rhino.local.properties
usercache.json
usernamecache.json

# root folders
.fabric/
.mixin.out/
.vscode/probe*
.vscode/fluid-attributes.json
.vscode/item-attributes.json
.vscode/item-tag-attributes.json
.vscode/lang-keys.json
mods/.index
coremods/
crash-reports/
data/
local/
logs/
moddata/
modernfix/
ModTranslations/
patchouli_books/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
Xaero*/
xaero*/
config/xaerominimap_entities.json
config/spark/activity.json
config/lambdynlights.toml
config/fastload.properties
config/xaerominimap_entities.json
config/auto-updater/updater_list.json
emi.json
config/fastload.properties
config/xaerominimap_entities.json
config/lambdynlights.toml
